#count {
  display: inline;
  font-weight: bold;
  margin-left: 10px;
}

#logo {
  background: url('../assets/holberton-logo.jpg');
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
}

#myButton {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
